.landingContainer {
	background-image: url("/landing_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.landingCenter {
	padding-top: 20vh;
	text-align: center;
	color: white;
}

div.landingCenter h1 {
	margin-bottom: 40px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	font-size: 4em;
}

div.landingCenter h2 {
	margin-bottom: 60px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.navbar {
	margin-bottom: 0px !important;
}

.badge-success {
	background-color: #28a745 !important;
}