.landingContainer {
	background-image: url("https://obamawhitehouse.archives.gov/sites/default/files/image/image_file/p052811lj-0411.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.landingCenter {
	padding-top: 20vh;
	text-align: center;
	color: white;
}

div.landingCenter h1 {
	margin-bottom: 40px;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, .8);
	font-size: 4em;
}

div.landingCenter h2 {
	margin-bottom: 60px;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, .8);
}