.singleCardComponent {
    height: 100vh;
    padding: 0;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.singleCard {
    height: 70vh;
    padding: 5%;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
}

.singleCardWrapper {
    padding: 2% 0 0 0;
    height: 100%;
}

.singleCardArrowLeft {
    color: #FFFFFF;
    font-size: 80px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.singleCardArrowRight {
    color: #FFFFFF;
    font-size: 80px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.singleCardArrowLeft i, .singleCardArrowRight i {
    display: inline-block;
    vertical-align: middle;
}